<header>
  <h1>Users</h1>
<ul class="actions">
Licensed to Mark Watson <nordickan@gmail.com>
Namespace-based CRUD 195
  <li>
  <%= link_to "New User", new_admin_user_path, class: "new" %>
  </li>
</ul>
</header>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user,[:admin, user] %></li>
  <% end %>
</ul>
